<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @guru.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @guru.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @guru.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @guru.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @guru.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @guru.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @guru.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @guru.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @guru.a9 %>
</p>

<%= link_to 'Edit', edit_guru_path(@guru) %> |
<%= link_to 'Back', gurus_path %>
