
<center>
  <div style="background-color:#12988B; 
              width:85%;
              text-align: center">
              
  <div align="center">
        <br>
         <h6 style="color: white;"> If you have any additional questions please contact 
         Kristen Montgomery with Next Level Events and Marketing.</a></h6>
        

        <br>

       <h6 style="color: white;"> Kristen <%= number_to_phone "8014731024" %> </h6>

        <br>

        <h6 style="color: white;"> <a href="mailto: kristen@nextleveleventsandmarketing.com?subject=Emerald Bay Bahamas"> Please Click Here to Email Kristen any Questions</h6></a>

        <br>
  </div>
  </div>

    <hr>

      <div class = "footer"><center>
        | Copyright 2017 | Next Level Events and Marketing |  
        <%= fa_icon "diamond" %> 
      <!--   <%= fa_icon "heart" %>  --> 
        <%= fa_icon "thumbs-up" %>  
       <!--  <%= fa_icon "cog" %>   -->
        <%= fa_icon "camera-retro" %>
        <%= fa_icon "globe" %>
        <%= fa_icon "plane" %>
<!--         <a href ='#' <%= fa_icon "twitter" %></a>
        <a href ='#'<%= fa_icon "facebook" %></a>
        <a href ='#'<%= fa_icon "instagram" %> </a>  -->
        <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>Always Working / <a href='#'>Back to Top of page</a>
        </center>
        </div>
</center>




