


<div class="congrats">
    The Carribean countdown is offially on!
</div>


<div id="demo" style="text-align:center;font-size:23px"></div>
<br>

<center>
<div class="faq-images">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img4.jpg")%>
</div>

<div class="faq-images">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img1.jpg")%>
</div>

<div class="faq-images">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img3.jpg")%>
</div>
</center>


<center>
<div class="single_image">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img8.jpg")%>
</div>

<br>

<h2>Trip Overview</h2>
<br>
<br>
</center>

<div class="row justify-content-center">



        <%= link_to  "https://www.sandals.com/emerald-bay/", target: "_blank"  do %>
        <div class="faq-button">
        Resort
        </div>
        <%end%>


        <%= link_to  "https://www.sandals.com/golf/bahamas/", target: "_blank"  do %>
        <div class="faq-button">
        Golf
        </div>
        <%end%>
     
        

        <%= link_to  "https://www.sandals.com/tours/", target: "_blank" do %>
        <div class="faq-button">
        Excursions
        </div>
        <%end%>
    
       


        <%= link_to  "https://www.sandals.com/redlane-spa/", target: "_blank" do %>
        <div class="faq-button">
        Spa
        </div>
        <%end%>
        


        <%= link_to  "https://www.sandals.com/emerald-bay/restaurants/", target: "_blank" do %>
        <div class="faq-button">
        Restaurants
        </div>
        <%end%>
        


        <%= link_to  "https://www.sandals.com/scuba/", target: "_blank" do %>
        <div class="faq-button">
        Scuba
        </div>
        <%end%>



</div>
<br>

<div class="question">

  

    <center>

<button class="accordion">Emerald Bay Resort Info</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li>Phone number: 1-242-336-6800</li>
<li>Address: P.O. Box EX-29142 Great Exuma, The Bahamas </li>
<li>Website: <a href = "https://www.sandals.com/emerald-bay/" target= "_blank" >https://www.sandals.com/emerald-bay/</a> </li>
<li>Wi-Fi: FREE Wi-Fi for all guests</li>
<li>Room Service: 7:00am - 10:00pm </li>
<li>11 Restaurants</li>
<li>Spa</li>
<li>Golf</li>
<li>Fitness Club</li>

<%# <li>CALLS - </li> %>
</ul>
</span>
</div>


<button class="accordion">Trip Inclusions</button>
<div class="panel">
  
    <span>
    <br>
    <ul>
<li>	Round Trip Airfare</li>
<li>	Airport Transportation both ways</li>
<li>	An upgraded club level balcony hotel room</li>
<li>	Unlimited golf with ocean views at championship golf course designed by Greg Norman</li>
<li>	11 unique restaurants and 6 bar options at the resort</li>
<li>	Unlimited Premium Brand Alcohol</li>
<li>	Scuba included for certified divers.  *Certification is offered onsite at a cost.</li>
<li>	Entertainment: Piano bar, Live bands and Live shows</li>
<li>	Pre-paid gratuities </li>
<li>  $400 resort credit/couple</li>
<li>  Golf Cart rental</li>
</ul>
</span>
</div>

<button class="accordion">Complimentary Resort Activities</button>
<div class="panel">
    <span>
    <br>
    <ul>
    <li>Canoes/Kayaks
      <li>Windsurfing </li>
      <li>Aquatrikes </li>
      <li>Snorkeling </li>
      <li>Sailboats</li>
      <li>Scuba(*if you have your certification)
      <li>Stand-up Boards </li>
      <li>Beach volleyball </li>
      <li>Horseshoes </li>
      <li>Lawn Chess </li>
      <li>Croquet </li>
      <li>Pool tables </li>
      <li>Bocce Ball </li>
      <li>Tennis </li>
      <li>Billiards</li>
      <li>Kayaks</li>
      <li>Fitness Club</li>
      <li>2.6 mile running trail</li>
      </ul>
      </span>
</div>

<button class="accordion">Preparation for your Trip</button>
<div class="panel">
   <span>
   <br>
   <ul>
        <li>Bring your valid passport and also a copy of your passport as a backup. Insure it hasn't expired!</li>
        <li>Remember to tell your bank you are traveling so they don’t flag your card for fraudulent charges.</li>
        <li>If you'd like to use your cell phone check with your provider and insure you have global cellular capabilities added and insure they offer service coverage in The Exumas, Bahamas. Roaming charges are likely to occur.</li>
        <li>Be prepared with some snacks.  The airline industry can be unpredictable and we’ve got a lot of miles to cover before we get to the resort. </li>

        <li> If you're certified for Scuba and plan on going scuba diving please remember your scuba certification credentials.</li>
        <li>Don't forget to pack your prescription medications, pain reliever, motion sickness medicine, sunscreen, sunglasses, swimsuit, toiletries, and other essential you might need to be comfortable while traveling.</li>
        <li>No need to bring towels, the hotel has plenty for us on site</li>
        <li>As you know the weather will be warm so pack accordingly but you may want to bring a light jacket or sweater at night time.  
        <li> Rain showers can occur, you may want to bring a compact travel umbrella as well. </li>
        <li> A few resturants have a "Resort Evening Attire" Dress Code, to keep all dining options open... Men - bring pants and collared shirts, closed toed shoes.  Women - bring long or short sleeve dress, sandals.</li>
        <li> If you are planning on golfing don't forget your golf shoes.</li>
        <li>A change of clothes in your carry-on bag.</li> 
</ul>
    </span>
</div>

<button class="accordion">Arrival</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li>We will be arriving at Georgetown International Airport (GGT).  Upon arrvial we will proceed to Customs and Immigration.  The airport is small and a "Sandals Representative" will be there to greet you and help direct you to their shuttle or van.
<li>The drive from the airport to the hotel is only 15 minutes.  </li>
<li>Upon arrival be prepared to check in at the front desk and check your bags as check-in is not until 3:00pm. A hotel representative will tell you once your room is ready.  We recommend you pack a change of clothes in a carry on so you may begin to take advantage of the resort amenities upon arrival. </li>
</ul>
</span>
</div>


<button class="accordion">Weather</button>
<div class="panel">
  <span>
  <br>
    <center>
       <%= link_to  "https://weather.com/weather/tenday/l/BFXX0139:1:BF", target: "_blank"  do %>
        <div class= "weather-button">
       10 Day Forecast
        </div>
        <%end%>
    </center>
        <br>
        <ul>
        <li>
       Bahamian temperatures are warm, Daytime average: 83°F.  Night time average: 70°F.
        </li>
        <li> As with most tropical locales rain showers can be a common occurence.  Bring a light jacket just in case. 
</ul>
</span>
</div>


<button class="accordion">Restaurants</button>
<div class="panel">
  <span>
  <br>
Emerald Bay boasts <a href = "https://www.sandals.com/emerald-bay/restaurants/" > 11 Amazing restaurants</a> - all of them are included!
<br>
<br>

<ul>
  <li>Barefoot by the Sea  (Casual)*</li>
  <li>Il Cielo  (Evening Attire)</li>
  <li>La Parisienne  (Resort Casual)*</li>
  <li>Drunken Duck  (Casual) </li>
  <li>Bahama Bay  (Casual) </li>
  <li>Dinos  (Casual) </li>
  <li>Cafe de Paris  (Casual)</li>
  <li>the Jerk Shack  (No Dress Code) </li>
  <li> Bomby club  (Casual)*</li>
  <li>Soy | Sushi Bar  (Casual)</li>
  <li>Kimonos  (Casual)*</li>
  <br>
  <br>
  * Reservations are required at: Barefoot by the Sea, La Parisienne, Bombay Club, and Kimonos!
  <br>
  <br>
  <li>Kimonos is a Tepanyaki restaurant and can seat parties of up to 12 people , otherwise most restaurants can accomodate reservations of parties of 6 or less. </li> 
  <li>Planning ahead pays off...  I recommend making all of your restaurant reservations, 
  golf tee-times, excursion, and spa appointments on "the day of your arrival". </li> 
  <li>If you are looking to make a reservation with a group of 6 or more for dinner, golf or excursion and know the date and number of people please contact Kristen a week prior to departure.</li>
</ul>
</span>
</div>


<button class="accordion">Currency</button>
<div class="panel">
 <span>
 <br>There is no need to exchange your US Dollars. However, there is an exchange bureau at Sandals Emerald Bay. The Bahamian or U.S. Dollar is the legal tender in the Exumas. 
    Most merchants do accept your U.S. dollars, traveler’s schedules and major credit cards, i.e. VISA®, MasterCard® and American Express®. For you convenience there is an ATM located on the resort property.</span>

</div>


<button class="accordion">On-site Purchases</button>
<div class="panel">
  <span>
  <br>Although almost everything is included you may also want to enjoy "optional" on-site and off-site experiences, spa treatments, scuba certification, golf club rentals, upgraded wine,  phone calls back home or 
    purchases in the gift shops. You should bring a major credit card for these purchases as all Sandals Resorts are "cashless resorts", they will not accept cash to purchase these items. 
    Sandals Emerald Bay Golf Resort & Spa has a gift shop with souvenirs, perfume, tobacco and sundries and snacks. Duty-free shopping is available on all islands and at the airport.

<br>
    Sandal's accepts VISA®, MasterCard®, American Express®, Discover Card® and Traveler’s cheques. They do not accept cash for on-site purchases.</span>
</div>


<button class="accordion">Group Meetings</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li>Dentist Direct wants you to enjoy your vacation the way you like to vacation thus there are only 2 group events that require your attendance.</li>
<br>
<li>Saturday Feb. 9th @ 6p.m. – 8p.m. They will be hosting a group dinner – Location TBA</li>
<li>Thursday Feb. 14th 5p.m. – 6:30p.m. They will be hosting a Closing Cocktail Reception – Location TBA</li>
</ul>
</span>
</div>

<button class="accordion">Weekly Themes and Events</button>
<div class="panel">
  <span>
  <br>
 
Monday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
One Man Sax
</span1>
<br>

Tuesday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Sandals Select Dinner
</span1>
<br>

Wednesday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
White Night Party
</span1>
<br>

Thursday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Encore
</span1>
<br>

Friday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Jankanoo Cultural Expl.
</span1>
<br>

Saturday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Reggae Jam Party
</span1>
<br>

Sunday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
International Night
</span1>
<br>

  </span>
  <br>

</div>


<button class="accordion">Golf</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li> Golf on the 18 hole, 7001 yeard Greg Norman designed couse is complimentary. </li> 
<li> You are welcome to pack your own golf clubs and shoes if you have an acceptable travel enclosure, check with your airline for their specific fees and limitations </li>
<li> Golf Cart rental care covered by Dentist Direct</li>
<li>Golf club rentals are not included.</li>
<li>Golf Club Rentals 18 holes - US $65.00 </li>
<li>Golf Club Rentals 9 holes - US $50.00 </li>
<li>Shoe Rentals -  US $15.00</li>
</ul>
</span>
</div>



<button class="accordion">Dress Code</button>
<div class="panel">
      <span>
      <br>
        Pack lightly, one large suitcase with a carry-on is ideal. Casual wear is perfect, except for (Optional)formal nights, theme nights, and restaurants that require full-length pants and collared shirts; Checkout the on-site restaurants for the specific dress code <a href = "https://www.sandals.com/emerald-bay/restaurants/" target= "_blank" > HERE </a>.
    </span>
</div>



<button class="accordion">Water Consumption</button>
<div class="panel">
  <span>
  <br>
I recommend that you stick with bottled water. Bottled water can be requested at all restaurants, poolside etc, otherwise they will bring you tap water.
</span>
</div>



<button class="accordion">Electrical Outlets</button>
<div class="panel">
  <span>
  <br>
 Electrical outlets are identical to those we use in the USA.  They operate at 120 volts, 60 Hz frequency cycles in the Bahamas. But don’t worry about bringing your hair dryers; they’re already provided in every room.
</span>
</div>



<button class="accordion">Exuma, The Bahamas</button>
<div class="panel">
  <span>
  <br>
Exuma is a district of the Bahamas, consisting of over 365 islands, also called "cays". The largest of the cays is Great Exuma, 
which is 37 mi in length and joined to another island, Little Exuma by a small bridge. The Exuma cays are located South-East of Nassau, Bahamas.  
The capital and largest city in the district is George Town, founded 1793 and located on Great Exuma.
The island population is approximately 7,000.  Unless you’re going on an excursion, there's little reason to leave the resort. 
</span>
</div>


<button class="accordion">Departing the Island</button>
<div class="panel">
  <span>
  <br>
Where to meet car<br>
When to leave etc. <br>
</span>
</div>



</center>
<br>
<br>
</div>






 <%# Scripts  %>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Feb 8, 2019 00:00:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
        
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
        
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
        
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
</script>



 <%# What is included with the trip?
   <br>
    <span>

    <li>  Round Trip Airfare</li>
    <li>  Airport Transportation both ways</li>
    <li>  An upgraded club level balcony hotel room</li>
    <li>  Unlimited golf with ocean views at championship golf course designed by Greg Norman</li>
    <li>  11 different restaurant and 6 bar options at the resort</li>
    <li>  Unlimited Premium Brand Alcohol</li>
    <li>  Scuba included for certified divers.  *Certification is offered onsite at a cost.</li>
    <li>  Entertainment: Piano bar, Live bands and Live shows</li>
    <li>  Pre-paid gratuities </li>
    </span>
        <br>


    Complimentary Activities
    <br>
    <span>
    <li>Canoes/Kayaks
      <li>Windsurfing, </li>
      <li>Aquatrikes, </li>
      <li>Snorkeling, </li>
      <li>Sailboats,</li>
      <li>Stand-up Boards, </li>
      <li>Beach volleyball, </li>
      <li>Horseshoes, </li>
      <li>Lawn Chess, </li>
      <li>Croquet, </li>
      <li>Pool tables, </li>
      <li>Bocce Ball, </li>
      <li>Tennis, </li>
      <li>Fitness center with state of art equipment  (classes: yoga, Pilates, aqua fitness)</li>
    </span>
    <br>
    <br>

    Currency
    <br>
    <br>
    <span>There is no need to exchange your US Dollars. However, there is an exchange bureau at Sandals Emerald Bay. The Bahamian or U.S. Dollar is the legal tender in the Exumas. 
    Most merchants do accept your U.S. Dollars, traveler’s schedules and major credit cards, i.e. VISA®, MasterCard® and American Express®.</span>
    <br>
    <br>

    On-Site Purchases
    <br>
    <br>
    <span>Although everything is included you may also want to enjoy "optional" on-site and off-site experiences, spa treatments, and make phone calls or 
    purchases in the gift shops. You should bring a major credit card for these purchases as all Sandals Resorts are "cashless resorts". 
    Sandal's accepts VISA®, MasterCard®, American Express®, Discover Card® and Traveler’s cheques.</span>
    <br>
    <br>


    Packing Suggestions
    <br>
    <br>
    <span>
        <li>Bring your valid passport and a copy of your passport.</li>
        <li>Remember to tell your bank you are traveling so they don’t flag your card for fraudulent charges.</li>
        <li>If you'd like to use your cell phone check with your provider and insure you have global cellular capabilities added.</li>
        <li>Bring snacks, we've got quite some distance to cover at times the perfect restaurant may be some distance away. </li>
        <li>Don't forget to pack any prescription medications, pain reliever, motion sickness medicine, and toiletries you might need.</li>
        <li>As you know the weather will be warm so pack accordingly but you may want to bring a light jacket or sweater at night.   You may want to bring an umbrella as well. </li>
    </span>

    <br>
    <br>

    Dress Code  
    <br>
    <br>

    <span>
        Pack lightly, one large suitcase with a carry-on is ideal. Casual wear is perfect, except for formal nights, theme nights, 
        and restaurants that require full-length pants and collared shirts; the dress code is listed under each <a href = "https://www.sandals.com/emerald-bay/restaurants/" target= "_blank"  >restaurant description</a>.
    </span>
    <br>
    <br>

    Electrical Outlets
    <br>
    <br>

    <span>
    Electrical outlets are identical to those we use in the USA.  They operate at 120 volts, 60 cycles in the Bahamas. But don’t worry about bringing your hair dryers; they’re already provided in every room.
    </span>

    <br>
    <br>

    Emerald Bay Resort Information<br>
    <br>
    <span>
    Phone number: 1-242-336-6800<br>
    Address: P.O. Box EX-29142 Great Exuma, The Bahamas <br>
    Website: https://www.sandals.com/emerald-bay/<br>
    WIFI: FREE Wi-Fi for all guests<br>
    Room Service: 7:00am - 10:00pm

    </span>

    <br>
    <br>

    Departure<br>
    <br>
    <span>
    Where to meet car<br>
    When to leave etc. <br>
    </span>
    <br>

    Group Agenda <br>
    <br>
    <span>
      Dentist Direct wants you to enjoy your vacation the way you like to vacation thus there are only 2 group events that they would really appreciate you attending.
    <br>
     Saturday Feb. 9th @ 6p.m. – 8p.m. They will be hosting a group dinner – Location TBA
     Thursday Feb. 14th 5p.m. – 6:30p.m. They will be hosting a Closing Cocktail Reception – Location TBA
    </span>

    <br>
    <br>


All of the spa, tour, etc. desks are located in the lobby<br>


Upon arrival you will be asked to check your bags as check in is not until 3p.m.  So, please pack a change of clothes in your carry 
on so you can start enjoying the hotel right away.
  They will notify you when your room is ready<br>


  From the airport to the hotel is a 15 minute drive.  The airport is small and a Sandals rep. will be there to greet you and help direct you to your car.<br>

  there is an ATM on site that dispenses American dollars<br>

  They can choose to golf 9 or 18 holes.  Dentist direct will be covering the rental of your golf cart but golf club rentals will be on your own.<br>

  I recommend that you stick with bottled water on this trip.  Showers and teeth brushing are fine at the resort but I would specifically request bottled water at all
   restaurants, poolside etc. otherwise they will bring you tap water.<br>

Mention that it’s a cash free resort but the only things that could cost you out of pocket are:  Scuba Certification, golf club rentals, upgraded bottle of wine, or gift shop items.  
All of those things must be charged to your room.  Everything else is included.<br>


kimonos is tepenaki and can seat up to 12 otherwise most restaurants take reservations of parties of 6 or less.  I recommend making all of your restaurant reservations, 
golf, excursion and spa appointments on the day of your arrival.  If you are looking to make a reservation with a group of 6 or more for dinner, golf or excursion and know the date and number of people 
I am happy to help you with those arrangements in advance<br>

    </div> %>