<%= simple_form_for(table) do |f| %>
  <% if table.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

   
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
   
    </div>
  <% end %>

<br>
<div style= "color: #167495">
  <center> 
<h3>
  Please provide the following information for "each" individual attendee 
</h3>


</div>
<hr>
<br>

<div class = "grey">
<div class = "row">

  <div class = "col-sm-6">
    <h3 style="color: #12988B;"> Attendee Information:</h3>
      <br>
          <%= f.input :company,  label: "Company Name", placeholder: "*  Required Field"  %>
          <%= f.input :passport_id, label: "Passport Number",  placeholder: "*  Required Field"  %>
          <%= f.input :preferred_airline, label: "Passport Expiration Date",  placeholder: "*  Required Field         Passport Expiraton Date"  %>
          <%= f.input :date_of_birth, label: "Date of Birth",  placeholder: "*  Required Field  MM/DD/YYYY" %>

          <%= f.input :first_name, label: "First Name",  placeholder: "*  Required Field              As printed on Passport" %>
          <%= f.input :middle_name, label: "Middle Name",  placeholder: "*  Required Field             As printed on Passport" %>
          <%= f.input :last_name, label: "Last Name",  placeholder: "*  Required Field             As printed on Passport" %>
          <%= f.input :street_address, label: "Street Address", placeholder: "*  Required Field" %>
          <%= f.input :city,  placeholder: "*  Required Field" %>
          <%= f.input :state,  placeholder: "*  Required Field" %>
          <%= f.input :zip_code, label: "Zip Code", placeholder: "*  Required Field" %>
          <%= f.input :mobile_phone, label: "Mobile Phone",  placeholder: "*  Required Field" %>
          <%= f.input :email, label: "Email Address",  placeholder: "*  Required Field" %>


      <h3 style="color: #12988B;"> Flight Information:</h3>
      <br>


        <div class="field">
          <%= f.label :frequent_flyer_number, "Frequent Flyer Number" %>
          <%= f.text_field :frequent_flyer_number, class: 'form-control' %>
        </div>



        <%= f.input :seat_preference, label: "Airplane Seat Preference",  placeholder: "*  ie; aisle, window..." %>
        <%= f.input :companion, label: "Companion Name" %>

  </div>








  <div class = "col-sm-6">
      <h3 style="color: #12988B;"> Other information:</h3>
        <br>

      <div class="field">
        <%= f.label :food_allergies, "Food Allergies"%>
        <%= f.text_field :food_allergies,class: 'form-control' %>
      </div>
      
      <br>

      <div class="field">
        <%= f.input :medical, label: "Medical Conditions" %>
      </div>

      <div class="field">
        <%= f.label :additional_comments, "Additional Comments" %>
        <%= f.text_area :additional_comments ,class: 'form-control', rows: 17 %>
      </div>
        <br>
        <br>
        <%= f.button :submit, 'Click Here to Submit',class: "btn btn-primary"  %>
</div>
<br>

  </div>
</div>
</div>
</center>
  
<% end %>
