<%= simple_form_for(table) do |f| %>
  <% if table.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

   
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
   
    </div>
  <% end %>
<div>
<h3> Please provide the following information for each individual attendee </h3>
<hr>
<br>

<div class = "row">
  <div class = "col-md-4">
    <h3 style="color: #12988B;"> Attendee Information:</h3>
      <br>
          <%= f.input :company  %>
          <%= f.input :passport_id, label: "Passport Number" %>
          <%= f.input :first_name, label: "First Name",  placeholder: "*  As printed on Passport" %>
          <%= f.input :middle_name, label: "Middle Name",  placeholder: "*  As printed on Passport" %>
          <%= f.input :last_name, label: "Last Name",  placeholder: "*  As printed on Passport" %>
          <%= f.input :date_of_birth, label: "Date of Birth" %>
          <%= f.input :street_address %>
          <%= f.input :state %>
          <%= f.input :city %>
          <%= f.input :zip_code %>
          <%= f.input :mobile_phone %>
          <%= f.input :email, label: "Email Address" %>

<!--        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company, class: 'form-control' %>
        </div>

         <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control', hint: "As Printed on Passport" %>
        </div>

        <div class="for-group">
          <%= f.label :middle_name %>
          <%= f.text_field :middle_name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :date_of_birth %>
          <%= f.text_field :date_of_birth, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :street_address %>
          <%= f.text_field :street_address, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :zip_code %>
          <%= f.number_field :zip_code, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :mobile_phone %>
          <%= f.telephone_field :mobile_phone, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div> -->
  </div>



  <div class = "col-md-4">
      <h3 style="color: #12988B;"> Flight Information:</h3>
      <br>

        <div class="field">
          <%= f.label :preferred_airline %>
          <%= f.text_field :preferred_airline, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :frequent_flyer_number %>
          <%= f.text_field :frequent_flyer_number, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :preferred_flight_date, 'Preferred departure date from (SLC-sea)' %>
          <%= f.text_field :preferred_flight_date, class: 'form-control' %>
        </div>

      <!--   <div class="field">
          <%= f.label :preferred_departure_time_period %>
          <%= f.text_field :preferred_departure_time_period, class: 'form-control' %>
        </div> -->

        <div class="field">
           <%= f.label :preferred_departure_airport_code, 'Preferred departure date from (sea-SLC)'  %>
          <%= f.text_field :preferred_departure_airport_code, class: 'form-control' %>
        </div>



          <%= f.input :seat_preference, label: "Airplane Seat Preference",  placeholder: "*  ie; aisle, window..." %>

         <%= f.input :companion, label: "Input Name of Travel Companion",  placeholder: "*  If no companion type NONE" %>

  </div>




  <div class = "col-md-4">
      <h3 style="color: #12988B;"> Other information:</h3>
        <br>

      <div class="field">
        <%= f.label :food_allergies %>
        <%= f.text_field :food_allergies,class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :number_of_beds_requested %>
        <%= f.number_field :number_of_beds_requested,class: 'form-control' %>
      </div>


      <div class="field">
        <%= f.label :additional_comments %>
        <%= f.text_area :additional_comments ,class: 'form-control', rows: 35 %>
      </div>
        <br>
        <br>
        <%= f.button :submit, 'Click Here to Submit' %>
     <!--  <div class="actions">
        <%= f.submit 'Click to Sumbit', class: 'btn btn-primary, background-color: #12988B !'  %>
      </div> -->

  </div>
</div>
  
<% end %>
