

<hr>
<div class= "row">
  <div class = "col-md-3">
      <div class= "sides">

          <h3 style= "color: #167495;">dentist DIRECT</h3>
          <h3 style= "color: #167495;">Alaskan Cruise Reward Trip</h3>
      </div>
  </div>


<div class = "col-md-6">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval= "3000" >
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        
        <!-- First Image -->
         <%= image_tag "resize-logo-final.jpg", class: "carousel-inner" %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h1>Dentist Direct</h1>
              <h3> Alaskan Cruise Reward Trip</h3> -->
              <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>

        <!-- Second Image -->
        <div class="carousel-item">
          <%= image_tag "Brown bears.jpg", class: "carousel-inner" %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h1>2</h1> -->
             <!--  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>

        <!-- Third Image -->
        
        <div class="carousel-item">
       
          <%= image_tag "celebrity_solstice.jpg", class: "carousel-inner"  %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block ">
             <!--  <h1>3</h1> -->
            <!--   <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
        

               <div class="carousel-item">
          <%= image_tag "alaska-moose-hunting-banner.jpg", class: "carousel-inner" %>
          

          <div class="container">
            <div class="carousel-caption d-none d-md-block ">
              <!-- <h1>4</h1> -->
              <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>

               <div class="carousel-item">
          <%= image_tag "Orcas.jpg", class: "carousel-inner" %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block ">
              <!-- <h1>5</h1> -->
              <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>

               <div class="carousel-item">
          <%= image_tag "fly fishing.jpg", class: "carousel-inner"%>
          <div class="container">
            <div class="carousel-caption d-none d-md-block ">
              <!-- <h1>6</h1> -->
             <!--  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


    <div class= "col-md-3">
        <div class= "sides">

          <h3 style= "color: #167495;">Sail Date: Sept 8,2017</h3>
          <h3 style= "color: #167495;">Return Date: Sept 15,2017</h3>
       
        </div>

  </div>
</div>    
<%= render 'form', table: @table %>
<br>
<hr>



<div align="center">
      <br>

      <h6> If you have any additional question please contact Kristen Montgomery with Next Level Events and Marketing</h6>

      <br>

      <h6> <%= number_to_phone "8014731024" %> </h6>

      <br>

      <h6 style="color: #A2B9C5;"> <a href="mailto: kristen@nextleveleventsandandmarketing.com?subject=Alaskan Cruise"> Please Click Here to Email Kristen any Event Related Questions</h6></a>

      <br>
</div>

<%= link_to 'Click here to go Back', tables_path %>



