<p id="notice"><%= notice %></p>
<h5> Here is the information you've submitted, if you'd like to change anything click "edit" below -or- if you'd like to register your travel companion click  "Add New Attendee" </h5>
<br>
<%= link_to 'Add New Attendee', new_table_path, class: "btn btn-primary"%>
<br>
<br>
<hr>

<p>
  <strong>Company:</strong>
  <%= @table.company %>
</p>


<p>
  <strong>Passport:</strong>
  <%= @table.passport_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @table.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @table.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @table.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @table.date_of_birth %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @table.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @table.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @table.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @table.zip_code %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @table.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @table.email %>
</p>

<p>
  <strong>Preferred airline:</strong>
  <%= @table.preferred_airline %>
</p>

<p>
  <strong>Frequent flyer number:</strong>
  <%= @table.frequent_flyer_number %>
</p>

<p>
  <strong>Preferred flight date from SLC:</strong>
  <%= @table.preferred_flight_date %>
</p>

<p>
  <strong>Preferred departure date from SEA:</strong>
  <%= @table.preferred_departure_time_period %>
</p>

<p>
  <strong>Number of beds requested:</strong>
  <%= @table.number_of_beds_requested %>
</p>

<p>
  <strong>Seat preference:</strong>
  <%= @table.seat_preference %>
</p>


<p>
  <strong>Travel Companion Name:</strong>
  <%= @table.companion %>
</p>


<p>
  <strong>Food allergies:</strong>
  <%= @table.food_allergies %>
</p>


<p>
  <strong>Medical Conditions:</strong>
  <%= @table.medical %>
</p>

<p>
  <strong>Additional Comments:</strong>
  <%= @table.additional_comments %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
