<p id="notice"><%= notice %></p>

<br>
<h7 style= "color:#0275d8;">Below is the information you've submitted:</h7>
<br>
<br>
 <h7>If you would like to change anything click  <font color="#0275d8">"Edit Information"</font>  
 
          -OR- 

if you'd like to register your travel companion click  <font color="#0275d8">""Add New Attendee" </font>  </h7>
<br>
<br>

<hr>
<hr>
<br>

<div class = "row">
 
  <div class = "col-md-4">
  
      Registation Information for : 
    <p style= "color:#0275d8;"> <%= @table.first_name.upcase %> <%= @table.last_name.upcase %></p>
  </div>

      <div class= "col-md-4">
         <%= link_to 'Edit Information', edit_table_path(@table), class: "btn btn-primary" %> 
       </div>


    <div class= "col-md-4">
        <%= link_to 'Add New Attendee', new_table_path, class: "btn btn-primary"%> 
    </div>

    
  </div>
<hr>

<hr>


<div class= "row">

  <div class= "col-md-4">

    <p>
      <strong class= "cool">Company:</strong>
      <%= @table.company %>
    </p>


    <p>
      <strong class= "cool">Passport:</strong>
      <%= @table.passport_id %>
    </p>

    <p>
      <strong class= "cool">First Name:</strong>
      <%= @table.first_name %>
    </p>

    <p>
      <strong class= "cool">Middle Name:</strong>
      <%= @table.middle_name %>
    </p>

    <p>
      <strong class= "cool">Last Name:</strong>
      <%= @table.last_name %>
    </p>

    <p>
      <strong class= "cool">Date of Birth:</strong>
      <%= @table.date_of_birth %>
    </p>

    <p>
      <strong class= "cool">Street Address:</strong>
      <%= @table.street_address %>
    </p>

    <p>
      <strong class= "cool">City:</strong>
      <%= @table.city %>
    </p>

    <p>
      <strong class= "cool">State:</strong>
      <%= @table.state %>
    </p>

    <p>
      <strong class= "cool">Zip Code:</strong>
      <%= @table.zip_code %>
    </p>

    <p>
      <strong class= "cool">Mobile Phone:</strong>
      <%= @table.mobile_phone %>
    </p>

    <p>
      <strong class= "cool">Email Address:</strong>
      <%= @table.email %>
    </p>

  </div>

    <!-- Image in center -->
     <div class= "col-md-4">

        <%= image_tag "https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img1.jpg", style: "width:300px; margin-bottom:30px" %>

     </div>



  <div class= "col-md-4">


  

    <p>
      <strong class= "cool">Frequent Flyer Number:</strong>
      <%= @table.frequent_flyer_number %>
    </p>

  

    <p>
      <strong class= "cool">Seat Preference:</strong>
      <%= @table.seat_preference %>
    </p>


    <p>
      <strong class= "cool">Travel Companion Name:</strong>
      <%= @table.companion %>
    </p>

 <!--    <p>
      <strong class= "cool">Excursion Choice:</strong>
      <%= @table.juneau_excursion %>
    </p> -->

    <p>
      <strong class= "cool">Food Allergies:</strong>
      <%= @table.food_allergies %>
    </p>


    <p>
      <strong class= "cool">Medical Conditions:</strong>
      <%= @table.medical %>
    </p>

    <p>
      <strong class= "cool">Additional Comments:</strong>
      <%= @table.additional_comments %>
    </p>
  </div>
</div>

<hr>



