<%= simple_form_for(@survey) do |f| %>
  <%= f.error_notification %>
<div style= "margin:20px">
  <div class="form-inputs">
    
<!-- QUESTION 1 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q1%> </div>
  
<br>
  <div style ="font-size: 9pt">
 18-25
 <br>
    <%= f.radio_button "a1", "18-25"%>
  </div>


   <div style ="font-size: 9pt">
26-35
<br>
    <%= f.radio_button "a1", "26-35" %>
  </div>


   <div style ="font-size: 9pt">
36-45 
<br>
    <%= f.radio_button "a1", "36-45" %>
  </div>


     <div style ="font-size: 9pt">
46-55
<br>
    <%= f.radio_button "a1", "46-55" %>
  </div>
<br>
  </div>



<!-- QUESTION 2 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q2%> </div>
<br>
  <div style ="font-size: 9pt">
 Less Than 1 Year
 <br>
    <%= f.radio_button "a2", "Less Than 1 Year"%>
  </div>

  <div style ="font-size: 9pt">
 1-2 Years
 <br>
    <%= f.radio_button "a2", "1-2 Years"%>
  </div>

    <div style ="font-size: 9pt">
 2-3 Year
 <br>
    <%= f.radio_button "a2", "2-3 Years"%>
  </div>

   <div style ="font-size: 9pt">
More than 3 Years
<br>
    <%= f.radio_button "a2", "More than 3 Years" %>
<br>
<br>


<!-- QUESTION 3 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q3%> </div>
<br>
  <div style ="font-size: 9pt">
 Less Than 1 Year
 <br>
    <%= f.radio_button "a3", "Less Than 1 Year"%>
  </div>

  <div style ="font-size: 9pt">
 1-2 Years
 <br>
    <%= f.radio_button "a3", "1-2 Years"%>
  </div>

    <div style ="font-size: 9pt">
 2-3 Year
 <br>
    <%= f.radio_button "a3", "2-3 Years"%>
  </div>

   <div style ="font-size: 9pt">
More than 3 Years
<br>
    <%= f.radio_button "a3", "More than 3 Years" %>
  </div>

<br>


<!-- QUESTION 4 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q4%> </div>
<br>
  <div style ="font-size: 9pt">
 Less Than 1 Year
 <br>
    <%= f.radio_button "a4", "Less Than 1 Year"%>
  </div>

  <div style ="font-size: 9pt">
 1-2 Years
 <br>
    <%= f.radio_button "a4", "1-2 Years"%>
  </div>

    <div style ="font-size: 9pt">
 2-3 Year
 <br>
    <%= f.radio_button "a4", "2-3 Years"%>
  </div>

   <div style ="font-size: 9pt">
More than 3 Years
<br>
    <%= f.radio_button "a4", "More than 3 Years" %>
  </div>

<br>


<!-- QUESTION 5 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q5%> </div>
<br>
  <div style ="font-size: 9pt">
    1-2
 <br>
    <%= f.radio_button "a5", "1-2"%>
  </div>
  <div style ="font-size: 9pt">
     2-3
 <br>
    <%= f.radio_button "a5", "2-3"%>
  </div>
  <div style ="font-size: 9pt">
    3-4
 <br>
    <%= f.radio_button "a5", "3-4"%>
  </div>
  <div style ="font-size: 9pt">
    5 or More
 <br>
    <%= f.radio_button "a5", "5 or More"%>
  </div>
<br>

<!-- QUESTION 6 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q6%> </div>
<br>
  <div style ="font-size: 9pt">
    1-2
 <br>
    <%= f.radio_button "a6", "1-2"%>
  </div>
  <div style ="font-size: 9pt">
     2-3
 <br>
    <%= f.radio_button "a6", "2-3"%>
  </div>
  <div style ="font-size: 9pt">
    3-4
 <br>
    <%= f.radio_button "a6", "3-4"%>
  </div>
  <div style ="font-size: 9pt">
    5 or More
 <br>
    <%= f.radio_button "a6", "5 or More"%>
  </div>

<br>

<!-- QUESTION 7 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q7%> </div>
            <br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a7", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a7", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a7", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a7", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a7", "5" %>
    </div>
   <br>
   <br>


<!-- QUESTION 8 -->

<div style="color:#EC549E;font-size: 10pt"> <%= Question.q8%> </div>
<br>

  <div style ="font-size: 9pt">
     YES
            <br>
    <%= f.radio_button "a8", "YES"%>
  </div>

<br>

   <div style ="font-size: 9pt">
    NO
            <br>
    <%= f.radio_button "a8", "NO" %>
  </div>

   <br>


<!-- QUESTION 9 -->

<div style="color:#EC549E;font-size: 10pt"> Would you recommend the convention to other HIGH Instructors? </div>
<br>

  <div style ="font-size: 9pt">
     YES
            <br>
    <%= f.radio_button "a9", "YES"%>
  </div>
<br>

   <div style ="font-size: 9pt">
    NO
            <br>
    <%= f.radio_button "a9", "NO" %>
  </div>

              <br>




 <div style ="color:grey; font-size: 9pt">
  <hr>
  <center>
    DAY 1: 
  </center>
    <hr>
 
    Of the sessions "you" were able to attend please rate the following. 
<hr>
</div>
<br>







<!-- QUESTION 10 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of the Opening Keynote (Amber & Emily)? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a10", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a10", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a10", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a10", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a10", "5" %>

              <br>
              <br>


<!-- QUESTION 11 -->


<!-- <br>
<div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a11", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a11", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a11", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a11", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a11", "5" %>

              <br>
              <br> -->


<!-- QUESTION 12 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a12, label: " Comments"%>

<hr>
   <br>



<!-- QUESTION 13 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Social Media"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a13", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a13", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a13", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a13", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a13", "5" %>

              <br>
              <br>


<!-- QUESTION 14 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a14", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a14", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a14", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a14", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a14", "5" %>

              <br>
              <br> -->


<!-- QUESTION 15 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a15, label: " Comments"%>

<hr>
   <br>



<!-- QUESTION 16 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Tips for Building Business"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a16", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a16", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a16", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a16", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a16", "5" %>

              <br>
              <br>


<!-- QUESTION 17 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a17", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a17", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a17", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a17", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a17", "5" %>

              <br>
              <br> -->


<!-- QUESTION 18 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a18, label: " Comments"%>

<hr>
   <br>





   <!-- QUESTION 19 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Nourish your body"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a19", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a19", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a19", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a19", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a19", "5" %>

              <br>
              <br>


<!-- QUESTION 20 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a20", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a20", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a20", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a20", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a20", "5" %>

              <br>
              <br>
 -->

<!-- QUESTION 21 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a21, label: " Comments"%>

<hr>
   <br>





   <!-- QUESTION 22 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "High Business goals"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a22", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a22", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a22", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a22", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a22", "5" %>

              <br>
              <br>


<!-- QUESTION 23 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a23", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a23", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a23", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a23", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a23", "5" %>

              <br>
              <br> -->


<!-- QUESTION 24 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a24, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 25 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Team Teaching"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a25", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a25", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a25", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a25", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a25", "5" %>

              <br>
              <br>


<!-- QUESTION 26 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a26", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a26", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a26", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a26", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a26", "5" %>

              <br>
              <br>

 -->
<!-- QUESTION 27 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a27, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 28 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Repeat Participation"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a28", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a28", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a28", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a28", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a28", "5" %>

              <br>
              <br>


<!-- QUESTION 29 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a29", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a29", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a29", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a29", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a29", "5" %>

              <br>
              <br>
 -->

<!-- QUESTION 30 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a30, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 31 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of  "F.I.T." ?</div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a31", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a31", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a31", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a31", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a31", "5" %>

              <br>
              <br>


<!-- QUESTION 32 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a32", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a32", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a32", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a32", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a32", "5" %>

              <br>
              <br>
 -->

<!-- QUESTION 33 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a33, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 34 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Stretch Session"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a34", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a34", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a34", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a34", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a34", "5" %>

              <br>
              <br>


<!-- QUESTION 35 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a35", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a35", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a35", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a35", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a35", "5" %>

              <br>
              <br>
 -->

<!-- QUESTION 36 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a36, label: " Comments"%>


   <br>



 <div style ="color:grey; font-size: 9pt">
  <hr>
  <center>
    DAY 2: 
  </center>
<hr>
 
    Of the sessions "you" were able to attend please rate the following. 
<hr>
</div>
<br>


   <!-- QUESTION 54 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of Courtney Brown - Opening Keynote ?</div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a54", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a54", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a54", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a54", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a54", "5" %>

              <br>
              <br>


<!-- QUESTION 55 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a55", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a55", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a55", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a55", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a55", "5" %>

              <br>
              <br> -->


<!-- QUESTION 56 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a56, label: " Comments"%>


   <br>




   <!-- QUESTION 37 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Understanding the Formula"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a37", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a37", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a37", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a37", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a37", "5" %>

              <br>
              <br>


<!-- QUESTION 38-->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a38", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a38", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a38", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a38", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a38", "5" %>

              <br>
              <br>
 -->

<!-- QUESTION 39 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a39, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 40-->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Cool Down"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a40", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a40", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a40", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a40", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a40", "5" %>

              <br>
              <br>


<!-- QUESTION 41 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a41", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a41", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a41", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a41", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a41", "5" %>

              <br>
              <br> -->


<!-- QUESTION 22 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a42, label: " Comments"%>

<hr>
   <br>






   <!-- QUESTION 43 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "Instructor Pro Skills"? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a43", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a43", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a43", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a43", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a43", "5" %>

              <br>
              <br>


<!-- QUESTION 44 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a44", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a44", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a44", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a44", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a44", "5" %>

              <br>
              <br>

 -->
<!-- QUESTION 45 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a45, label: " Comments"%>

<hr>
   <br>







   <!-- QUESTION 46 -->

<div style="color:#EC549E;font-size: 10pt">  On a scale of 1-5, how helpful and/or applicable was the content of "High Hopes Closing Keynote"?</div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a46", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a46", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a46", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a46", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a46", "5" %>

              <br>
              <br>


<!-- QUESTION 47 -->


<br>
<!-- <div style="color:#EC549E;font-size: 10pt">  How applicable was the content? </div>
<br>
  <div style ="font-size: 9pt">
     1
    <%= f.radio_button "a47", "1"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    2
          
    <%= f.radio_button "a47", "2" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
       3
           
      <%= f.radio_button "a47", "3"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
      4
             
      <%= f.radio_button "a47", "4" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
      5
             
      <%= f.radio_button "a11", "5" %>

              <br>
              <br> -->


<!-- QUESTION 48 -->

<!-- <div style="color:#EC549E;font-size: 10pt"> Comments </div> -->
   <%= f.input :a48, label: " Comments"%>

<hr>
   <br>





   <!-- QUESTION 49 -->

<div style="color:#EC549E;font-size: 10pt">  <%= f.input :a49, label: "Are there topics you'd like to see covered in future events(list them)?" %> </div>
<br>
<br>



<!-- QUESTION 50 -->


<div style="color:#EC549E;font-size: 10pt">  <%= f.input :a50, label: "In one or two words, how did the conference leave you feeling? " %> </div>
<br>
<br>


<!-- QUESTION 51 -->

 <div style="color:#EC549E;font-size: 10pt">  <%= f.input :a51, label: "Share your top two take-aways that you are excited to bring home? " %> </div>
<br>
<br>



   <!-- QUESTION 52 -->

<div style="color:#EC549E;font-size: 10pt"> <%=f.input :a52, label: "General Suggestions or Comments?" %> </div>
<br>
<br>



<!-- QUESTION 53 -->

<div style="color:#EC549E;font-size: 10pt"> <%=f.input :a53, label: "After trying HIGH Glow Collagen, would this product be something you would be interested in purchasing?" %> </div>
<br>
<br>






    <%#= f.input :a2 %>
    <%#= f.input :a3 %>
    <%#= f.input :a4 %>
    <%#= f.input :a5 %>
    <%#= f.input :a6 %>
    <%#= f.input :a7 %>
    <%#= f.input :a8 %>
    <%#= f.input :a9 %>
    <%#= f.input :a10 %>
    <%#= f.input :a11 %>
    <%#= f.input :a12 %>
    <%#= f.input :a13 %>
    <%#= f.input :a14 %>
    <%#= f.input :a15 %>
    <%#= f.input :a16 %>
    <%#= f.input :a17 %>
    <%#= f.input :a18 %>
    <%#= f.input :a19 %>
    <%#= f.input :a20 %>
    <%#= f.input :a21 %>
    <%#= f.input :a22 %>
    <%#= f.input :a23 %>
    <%#= f.input :a24 %>
    <%#= f.input :a25 %>
    <%#= f.input :a26 %>
    <%#= f.input :a27 %>
    <%#= f.input :a28 %>
    <%#= f.input :a29 %>
    <%#= f.input :a30 %>
  </div>

  <button style ="background-color:#EC549E">
    <%= f.button :submit, "Submit" %>
  </button>
<% end %>

<br>
<br>
</div>
