<div style = "padding:30px">
    <p id="notice"><%= notice %></p>

<cente>
    <h4>Surveys</h4>
  </center>


    <hr>

  <div style= "color:#EC549E;font-size: 10pt"><%= Question.q1%>:&nbsp;&nbsp;&nbsp;
  </div>

    <%=pie_chart Survey.group(:a1).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>




  <div style= "color:#EC549E;font-size: 10pt"><%= Question.q2%>:&nbsp;&nbsp;&nbsp;
  </div>

    <%=pie_chart Survey.group(:a2).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>
 




      <div style= "color:#EC549E;font-size: 10pt"><%= Question.q3%>:&nbsp;&nbsp;&nbsp;
      </div>

    <%=pie_chart Survey.group(:a3).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>
 



      <div style= "color:#EC549E;font-size: 10pt"><%= Question.q4%>:&nbsp;&nbsp;&nbsp;
      </div>

    <%=pie_chart Survey.group(:a4).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>



      <div style= "color:#EC549E;font-size: 10pt"><%= Question.q5%>:&nbsp;&nbsp;&nbsp;
      </div>

    <%=pie_chart Survey.group(:a5).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>
 


      <div style= "color:#EC549E;font-size: 10pt"><%= Question.q6%>:&nbsp;&nbsp;&nbsp;
      </div>

    <%=pie_chart Survey.group(:a6).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
    <hr>
   


      <div style= "color:#EC549E;font-size: 10pt"><%= Question.q7%>:&nbsp;&nbsp;
      </div>

        <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg7.round(2) %>

    </div>



       <%=pie_chart Survey.group(:a7).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>
        
      <hr>
 

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q8%>:&nbsp;&nbsp;&nbsp;
     </div>

 <%=pie_chart Survey.group(:a8).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>


  Percent Yes's  <%= @avgyes8 %><br>
  Percent No's  <%= @avgyes8 %><br>


    <hr>




     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q9%>:&nbsp;&nbsp;&nbsp;
     </div>

 <%=pie_chart Survey.group(:a9).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>
<hr>
<h5> Sessions </h5>
<hr>



 <!-- Q10 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q10%>:&nbsp;&nbsp;&nbsp;</div>

 
       <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">
    
         Average Score: &nbsp;&nbsp;<%= @avg10.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a10).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q12 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a12.present? %>
          ~ <%= survey.a12 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>






 <!-- Q13 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q13%>:&nbsp;&nbsp;&nbsp;</div>


  <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg13.round(2) %>

    </div>

 <%=pie_chart Survey.group(:a13).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q15 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a15.present? %>
          ~ <%= survey.a15 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q16 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q16%>:&nbsp;&nbsp;&nbsp;</div>

       <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg16.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a16).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q18 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a18.present? %>
          ~ <%= survey.a18 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q19 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q19%>:&nbsp;&nbsp;&nbsp;</div>



       <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg19.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a19).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q21 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a21.present? %>
          ~ <%= survey.a21 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>







 <!-- Q22 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q22%>:&nbsp;&nbsp;&nbsp;</div>



       <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg22.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a22).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q24 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a24.present? %>
          ~ <%= survey.a24 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>







 <!-- Q25 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q25%>:&nbsp;&nbsp;&nbsp;</div>



       <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg25.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a25).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q27 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a27.present? %>
          ~ <%= survey.a27 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q28 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q28%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg28.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a28).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q30 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a30.present? %>
          ~ <%= survey.a30 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q31 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q31%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg31.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a31).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q33 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a33.present? %>
          ~ <%= survey.a33 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q34 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q34%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg34.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a34).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q36 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a36.present? %>
          ~ <%= survey.a36 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>





 <!-- Q54-->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q54%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg54.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a54).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q56 -->
  <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a56.present? %>
          ~ <%= survey.a56 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>






 <!-- Q37 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q37%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg37.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a37).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q39-->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a39.present? %>
          ~ <%= survey.a39 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q40 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q40%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg40.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a40).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q42 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a42.present? %>
          ~ <%= survey.a42 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>






 <!-- Q43 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q43%>:&nbsp;&nbsp;&nbsp;</div>


            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg43.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a43).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q45 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a45.present? %>
          ~ <%= survey.a45 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>








 <!-- Q46 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q46%>:&nbsp;&nbsp;&nbsp;</div>

            <div style= "background-color:#EC549E;height:45px;width:200px;color:white;padding:10px;margin:10px">

         Average Score: &nbsp;&nbsp;<%= @avg46.round(2) %>
          
    </div>

 <%=pie_chart Survey.group(:a46).count, colors: ["yellow","#EC549E","#48484A", "blue", "orange"], width: "150px", legend: "bottom", donut: "true" %>

<br>

<!-- Q48 -->
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a48.present? %>
          ~ <%= survey.a48 %><br>
        <%end%>
    <%end%>
       
</div>


<hr>





<h5> Wrap up Questions </h5>
<hr>

<!-- Final Questions -->



 <!-- Q49 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q49%>:&nbsp;&nbsp;&nbsp;</div>

<br>
 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a49.present? %>
          ~ <%= survey.a49 %><br>
        <%end%>
    <%end%>
       
</div>
<hr>













 <!-- Q50 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q50%>:&nbsp;&nbsp;&nbsp;</div>

<br>

 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a50.present? %>
          ~ <%= survey.a50 %><br>
        <%end%>
    <%end%>
       
</div>
<hr>












 <!-- Q51 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q51%>:&nbsp;&nbsp;&nbsp;</div>


<br>

 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a51.present? %>
          ~ <%= survey.a51 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>












 <!-- Q52-->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q52%>:&nbsp;&nbsp;&nbsp;</div>

<br>

 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a52.present? %>
          ~ <%= survey.a52 %><br>
        <%end%>
    <%end%>
       
</div>

<hr>










 <!-- Q53 -->

     <div style= "color:#EC549E;font-size: 10pt"><%= Question.q53%>:&nbsp;&nbsp;&nbsp;</div>

<br>

 <div style= "color:grey;font-size: 10pt">

        <% @surveys.each do |survey| %>
        <%if survey.a53.present? %>
          ~ <%= survey.a53 %><br>
        <%end%>
    <%end%>
       
</div>
<hr>
<hr>








<!--     <table>
      <thead>
        <tr>
          <th style = "background-color: #EC549E">A1</th>
          <th style = "background-color: #EC549E">A2</th>
          <th style = "background-color: #EC549E">A3</th>
          <th style = "background-color: #EC549E">A4</th>
          <th style = "background-color: #EC549E">A5</th>
          <th style = "background-color: #EC549E">A6</th>
          <th style = "background-color: #EC549E">A7</th>
          <th style = "background-color: #EC549E">A8</th>
          <th style = "background-color: #EC549E">A9</th>
          <th style = "background-color: #EC549E">A10</th>
          <th style = "background-color: #EC549E">A11</th> 
          <th style = "background-color: #EC549E">A12</th>
          <th style = "background-color: #EC549E">A13</th>
          <th style = "background-color: #EC549E">A14</th>
          <th style = "background-color: #EC549E">A15</th>
          <th style = "background-color: #EC549E">A16</th>
          <th style = "background-color: #EC549E">A17</th>
          <th style = "background-color: #EC549E">A18</th>
          <th style = "background-color: #EC549E">A19</th>
          <th style = "background-color: #EC549E">A20</th>
          <th style = "background-color: #EC549E">A21</th>
          <th style = "background-color: #EC549E">A22</th>
          <th style = "background-color: #EC549E">A23</th>
          <th style = "background-color: #EC549E">A24</th>
          <th style = "background-color: #EC549E">A25</th>
          <th style = "background-color: #EC549E">A26</th>
          <th style = "background-color: #EC549E">A27</th>
          <th style = "background-color: #EC549E">A28</th>
          <th style = "background-color: #EC549E">A29</th>
          <th style = "background-color: #EC549E">A30</th>
          <th style = "background-color: #EC549E">A31</th>
          <th style = "background-color: #EC549E">A32</th>
          <th style = "background-color: #EC549E">A33</th>
          <th style = "background-color: #EC549E">A34</th>
          <th style = "background-color: #EC549E">A35</th>
          <th style = "background-color: #EC549E">A36</th>
          <th style = "background-color: #EC549E">A37</th>
          <th style = "background-color: #EC549E">A38</th>
          <th style = "background-color: #EC549E">A39</th>
          <th style = "background-color: #EC549E">A40</th>
          <th style = "background-color: #EC549E">A41</th>
          <th style = "background-color: #EC549E">A42</th>
          <th style = "background-color: #EC549E">A43</th>
          <th style = "background-color: #EC549E">A44</th>
          <th style = "background-color: #EC549E">A45</th>
          <th style = "background-color: #EC549E">A46</th>
          <th style = "background-color: #EC549E">A47</th>
          <th style = "background-color: #EC549E">A48</th>
          <th style = "background-color: #EC549E">A49</th>
          <th style = "background-color: #EC549E">A50</th>
          <th style = "background-color: #EC549E">A51</th>
          <th style = "background-color: #EC549E">A52</th>
          <th style = "background-color: #EC549E">A53</th>
          <th style = "background-color: #EC549E">A54</th>
          <th style = "background-color: #EC549E">A55</th>
          <th style = "background-color: #EC549E">A56</th>
          <th style = "background-color: #EC549E" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= survey.a1 %></td>
            <td><%= survey.a2 %></td>
            <td><%= survey.a3 %></td>
            <td><%= survey.a4 %></td>
            <td><%= survey.a5 %></td>
            <td><%= survey.a6 %></td>
            <td><%= survey.a7 %></td>
            <td><%= survey.a8 %></td>
            <td><%= survey.a9 %></td>
            <td><%= survey.a10 %></td>
            <td><%= survey.a11 %></td> 
            <td><%= survey.a12 %></td>
            <td><%= survey.a13 %></td>
            <td><%= survey.a14 %></td> 
            <td><%= survey.a15 %></td>
            <td><%= survey.a16 %></td>
            <td><%= survey.a17 %></td> 
            <td><%= survey.a18 %></td>
            <td><%= survey.a19 %></td>
            <td><%= survey.a20 %></td> 
            <td><%= survey.a21 %></td>
            <td><%= survey.a22 %></td>
            <td><%= survey.a23 %></td> 
            <td><%= survey.a24 %></td>
            <td><%= survey.a25 %></td>
            <td><%= survey.a26 %></td> 
            <td><%= survey.a27 %></td>
            <td><%= survey.a28 %></td>
            <td><%= survey.a29 %></td> 
            <td><%= survey.a30 %></td>
            <td><%= survey.a31 %></td>
            <td><%= survey.a32 %></td> 
            <td><%= survey.a33 %></td>
            <td><%= survey.a34 %></td>
            <td><%= survey.a35 %></td> 
            <td><%= survey.a36 %></td>
            <td><%= survey.a37 %></td>
            <td><%= survey.a38 %></td>
            <td><%= survey.a39 %></td>
            <td><%= survey.a40 %></td>
            <td><%= survey.a41 %></td>
            <td><%= survey.a42 %></td>
            <td><%= survey.a43 %></td>
            <td><%= survey.a44 %></td>
            <td><%= survey.a45 %></td>
            <td><%= survey.a46 %></td>
            <td><%= survey.a47 %></td>
            <td><%= survey.a48 %></td>
            <td><%= survey.a49 %></td>
            <td><%= survey.a50 %></td>
            <td><%= survey.a51 %></td>
            <td><%= survey.a52 %></td>
            <td><%= survey.a53 %></td>
            <td><%= survey.a54 %></td>
            <td><%= survey.a55 %></td>
            <td><%= survey.a56 %></td>
            <td><%= link_to 'Show', survey %></td>
            <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
            <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table> -->

    <br>

      <%= link_to 'New Survey', new_survey_path %>
</div>