<div style = "padding:30px">
        <p id="notice"><%= notice %></p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q1%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a1 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q2%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a2 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q3%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a3 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q4%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a4 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q5%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a5 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q6%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a6 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q7%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a7 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q8%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a8 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q9%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a9 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q10%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a10 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q11%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a11 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q12%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a12 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q13%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a13 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q14%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a14 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q15%>:&nbsp;&nbsp;&nbsp;</strong>
          <%= @survey.a15 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q16%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a16 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q17%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a17 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q18%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a18 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q19%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a19 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q20%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a20 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q21%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a21 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q22%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a22 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q23%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a23 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q24%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a24 %>
        </p>

        <p>
          <strong style= "color:#EC549E"><%= Question.q25%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a25 %>
        </p>

<!--         <p>
          <strong style= "color:#EC549E"><%= Question.q26%>:&nbsp;&nbsp;&nbsp;:</strong>
          <%= @survey.a26 %>
        </p>

        <p>
          <strong style= "color:#EC549E">A27:</strong>
          <%= @survey.a27 %>
        </p>

        <p>
          <strong style= "color:#EC549E">A28:</strong>
          <%= @survey.a28 %>
        </p>

        <p>
          <strong style= "color:#EC549E">A29:</strong>
          <%= @survey.a29 %>
        </p>

        <p>
          <strong style= "color:#EC549E">A30:</strong>
          <%= @survey.a30 %>
        </p> -->

        <%= link_to 'Edit', edit_survey_path(@survey) %> |
        <%= link_to 'Back', surveys_path %>

 </div>       
