<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pick.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pick.last_name %>
</p>

<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
