<%= simple_form_for(@qa) do |f| %>
  <%= f.error_notification %>

 <div style= "margin:15px">
      <div class="form-inputs">
        <%= f.input :question %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :other %>
      </div>

      <div class= "btn btn-primary">
        <%= f.button :submit, "Submit" %>
      </div>
    <% end %>
     
     <br>
</div>