<%= simple_form_for(@qa) do |f| %>
  <%= f.error_notification %>

 <div style= "margin:15px">
      <div class="form-inputs">
        <%= f.input :question, :as => :text, :input_html => {:rows => 3}  %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%#= f.input :other %>
      </div>

      <button style= "background-color:#EC549E;color:white">
        <%= f.button :submit, "Submit" %>
      </button>
    <% end %>
     
     <br>
</div>