<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @qa.question %>
</p>

<p>
  <strong>Name:</strong>
  <%= @qa.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @qa.email %>
</p>

<p>
  <strong>Other:</strong>
  <%= @qa.other %>
</p>

<%= link_to 'Edit', edit_qa_path(@qa) %> |
<%= link_to 'Back', qas_path %>
