<p id="notice"><%= notice %></p>

<div style= "margin:25px">
<div>
  <strong>Attendee:</strong>
  <%= @qa.name %>

<br>

  <strong>Email:</strong>
  <%= @qa.email %>
</div>

<hr>

<p>
  <strong>Question:</strong>
  <br>
  "<%= @qa.question %>"
</p>


<!-- <p>
  <strong>Other:</strong>
  <%#= @qa.other %>
</p> -->

<hr>
<br>
<%= link_to 'Edit', edit_qa_path(@qa) %> |
<%= link_to 'Back', qas_path %>
</div>