  <center>

    <br>
    <div style ="color:#EC549E">
      A HUGE HIGH FITNESS Thanks to 
      <br>
      our AMAZING Sponsors! 
      <br>
      <br>
      <i> Please support them!</i>
    </div>
    
<br>
<br>



<!-- Diamond -->

<div style = "width:100%;  background-color:#EC549E;font-size: 13pt; color:white; border-top: 2px solid #48484A; border-bottom: 2px solid #48484A;padding:8px">
DIAMOND LEVEL SPONSORS</div>
<br>

       <div class ="sponsor-container">

          <div class= "zoom">
          <%= link_to "https://albionfit.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/albion.png", width="170px">
          <%end%>
        </div>

 
        <div>
            <%= link_to "https://albionfit.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Albion Fit</span>
          <%end%>

          <br>
            ALBION'S MISSION IS TO PROVIDE WOMEN WITH THE MOST LUXURIOUS, FLATTERING, AND HASSLE-FREE  FITNESS AND LEISURE APPAREL 
            ON THE MARKET.
            <br>
            <br>
            Our garments are fashionable and unique, but more importantly practical and technical. Designed by women, our apparel is crafted for women wherever they may be in their fitness goals. Our clothes easily transition from work out gear to lounging gear: whether she's running an errand or 26.2 miles across a finish line.

        </div>

    </div>


<hr>
<br>

     <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://builtbar.com", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/builtbar.jpg", width="220px">
          <%end%>
        </div>



             <div>
               <%= link_to "https://builtbar.com", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Built Bars</span>
          <%end%>

          <br>
         Chocolate covered protein/energy bars, no added sugar, no gluten, GMO or Soy.
        </div>

    </div>
 

<br>

<hr>

  <div class ="sponsor-container">

       <div class= "zoom">
      <%= link_to "https://www.fiizdrinks.com/", target: "_blank" do %>
     <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/fiiz.jpg", width="170px">
      <%end%>
    </div>


    <div>
      <%= link_to "https://www.fiizdrinks.com/", target: "_blank" do %>
      <span style=" color: #EC549E;font-size:12pt"> FIIZ Drinks</span>
      <%end%>

      <br>
     We think caffeine is cool! Soda, Salty, Sweet & everything neat.  A serious drink experience!
    </div>

</div>

<br>
<hr>

       <div class ="sponsor-container">

          <div class= "zoom">
          <%= link_to "https://beddys.com", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/beddys.png", width="220px">
          <%end%>
        </div>

 
        <div>
            <%= link_to "https://beddys.com", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> beddy's</span>
          <%end%>

          <br>
            Uniquely styled bedding for everyone!

        </div>

    </div>

<br>


    <hr>

       <div class ="sponsor-container">


       <div class= "zoom">
        <%= link_to "https://www.addyandolly.com", target: "_blank" do %>
       <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/addyollly.png", width="200px">
        <%end%>
      </div>


         <div>
            <%= link_to "https://www.addyandolly.com", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Addy & Olly</span>
          <%end%>

          <br>
      
Addy & Olly Salon is a full service salon located in Murray, Utah. We pride ourselves on our commitment to utilize our skills and knowledge to ensure that every client leaves feeling confident, rejuvenated, and beautiful. We offer a full range of services from lash extensions, hair color, haircuts, pedicures, nails, permanent cosmetics, and more. We welcome both appointments and walk-ins, and would love the opportunity to work with you to perfect your own true beauty.
        </div>

    </div>
<br>




<!-- Platinum -->





<div style = "width:100%;  background-color:#EC549E;font-size: 13pt; color:white; border-top: 2px solid #48484A; border-bottom: 2px solid #48484A;padding:8px">
PLATINUM LEVEL SPONSORS</div>
<br>
<br>

 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "http://mybigballoon.blogspot.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/mybigballoon.png", width="180px">
          <%end%>
        </div>


        <div>
          <%= link_to "http://mybigballoon.blogspot.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> My BIG Balloon</span>
          <%end%>

          <br>
         My Big Balloon started as a fun idea and has turned into a wonderful whirlwind of neon string, colorful tassels and metallic fringe. It is truly happiness on a string!
        </div>
    </div>

 
 <hr>



<br>
      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to " ", target: "_blank" do %>
         <img src= " ", width="200px">
          <%end%>
        </div>


        <div>
          <%= link_to " ", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> BE FULFilled</span>
          <%end%>

          <br>
         
        </div>

    </div>





<!-- Gold -->
<br>
<div style = "width:100%;  background-color:#EC549E;font-size: 13pt; color:white; border-top: 2px solid #48484A; border-bottom: 2px solid #48484A;padding:8px">
GOLD LEVEL SPONSORS</div>
<br>
<br>


  




         <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://cleansimpleeats.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/static1.squarespace.png", width="200px">
          <%end%>
        </div>


        <div>
          <%= link_to "https://cleansimpleeats.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> CLean Simple Eats </span>
          <%end%>

          <br>
       Clean Simple Eats was born out of our passion for healthy living and helping others after we had discovered the many amazing benefits from eating good, quality food paired with an active lifestyle.
        </div>

    </div>

<hr>

         <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://thesweettoothfairy.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/sweettooth.png", width="200px">
          <%end%>
        </div>


        <div>
          <%= link_to "https://thesweettoothfairy.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Sweet Tooth Fairy </span>
          <%end%>

          <br>
        Gourmet bake shop and Cupcake Wars winner (The Food Network)
        </div>

    </div>

 



    <hr>
 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://kodiakcakes.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/kodiak.png", width="200px">
          <%end%>
        </div>



          <div>
            <%= link_to "https://kodiakcakes.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Kodiak Cakes</span>
          <%end%>

          <br>
         Nourishment for today’s frontier. 100% whole grains, protein packed, NON-GMO.
        </div>
    </div>





    <hr>
 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://www.lifeclinics.us/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/lifeclinic.png", width="200px">
          <%end%>
        </div>


        <div>
           <%= link_to "https://www.lifeclinics.us/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Life Clinic</span>
          <%end%>

          <br>
         Your body works best when its basic elements like bones, muscles and nerves are strong, aligned and properly working together. Our physical therapists and chiropractors will help to discover the root causes of pain, imbalance or weakness and deliver you a personalized treatment plan to help restore, maintain and optimize your activity.
        </div>
    </div>







<!-- Silver -->
<br>
<div style = "width:100%;  background-color:#EC549E;font-size: 13pt; color:white; border-top: 2px solid #48484A; border-bottom: 2px solid #48484A;padding:8px">
SILVER LEVEL SPONSORS</div>
<br>
<br>



 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://liquid-iv.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/liquidiv.png", width="200px">
          <%end%>
        </div>


        <div>
           <%= link_to "https://liquid-iv.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Liquid I.V. </span>
          <%end%>

          <br>
         Liquid I.V. is a non-GMO electrolyte drink mix that helps your body absorb water more efficiently using our CTT technology. One LIV mix provides the same hydration as drinking 2-3 bottles of water.
        </div>

    </div>




    <hr>
<br>

          <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://perkenergy.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/perk.png", width="200px">
          <%end%>
        </div>


        <div>
          <%= link_to "https://perkenergy.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Perk Energy & Chill</span>
          <%end%>

          <br>
       A drink with protein from whey and collagen, EGCG from green tea, and enough caffeine to help you get moving. And amazing flavors that will rock your world.
        </div>

    </div>

<hr>

  <div class ="sponsor-container">

      <div class= "zoom">
        <%= link_to "https://www.popzeropopcorn.com/", target: "_blank" do %>
       <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/PZ_Logo_Red.png", width="180px">
        <%end%>
      </div>



        <div>
           <%= link_to "https://www.popzeropopcorn.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Pop Zero</span>
          <%end%>

          <br>
        When it comes to ingredients, we like to keep it simple: Nothing artificial. Nothing misleading. Nothing complicated. Nothing but the most premium ingredients to show we really are the cream of the pop.
        </div>

    </div>


   <hr>
 
 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://g2gbar.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/g2g.png", width="200px">
          <%end%>
        </div>


        <div>
          <%= link_to "https://g2gbar.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> G2G Bars</span>
          <%end%>

          <br>
        Fresh, Healthy, Delicious Protein Bars
        </div>

    </div>




  <hr>
 

     <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://www.chipcookies.co", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/chip.jpg", width="160px">
          <%end%>
        </div>


        <div>
          <%= link_to "https://www.chipcookies.co", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Chip Cookies</span>
          <%end%>

          <br>
        The original gourmet cookie delivery company.  Delivering warm and fresh cookies within SLC, Provo/Orem, and Boise/Meridian.
        </div>

    </div>



    <hr>



          <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://soonskincare.com/", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/soon-skincare-logo_400x200.png", width="220px">
          <%end%>
        </div>


        <div>
           <%= link_to "https://soonskincare.com/", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Soon Skincare</span>
          <%end%>
          <br>
         Korean Skincare, reimagined. Luxury skincare visibly improving skin while nourishing the soul.  Created by friends Lisa and Kayla, who started Soon Skincare with the goal of bringing all the excitement and innovation of Korean skincare to the whole world.  
        </div>

    </div>


   <hr>
 


      <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://www.madebymary.com", target: "_blank" do %>
         <img src= "https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Sponsor+Images/madebymary.png", width="220px">
          <%end%>
        </div>


        <div>
               <%= link_to "https://www.madebymary.com", target: "_blank" do %>
          <span style=" color: #EC549E;font-size:12pt"> Made By Mary</span>
          <%end%>

          <br>
         High quality, personalized jewelry filled with meaning.  Hand made in house, Made by Mary isn’t just about pretty jewelry. It is about connection: love made tangible, created by you!
        </div>
    </div>


<br>
<br>






</center>