<div style = "padding-left:45px;max-width: 300px">

<%= simple_form_for(@vote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
Lip Gloss - Toner
 <br>
    <%= f.radio_button "a1", "Lip Gloss - Toner"%>
  </div>

<br>
    <div class="form-inputs">
Ocean Avenue -  Cardio
<br>
    <%= f.radio_button "a1", "Ocean Avenue -  Cardio" %>
  </div>

<br>

    <div class="form-inputs">
      Wherever you go - Barre
      <br>
    <%= f.radio_button "a1", "Wherever you go - Barre" %>
  </div>

<br>


  <div class="form-inputs">
     I Believe in a thing called Love - Cardio Push
      <br>
    <%= f.radio_button "a1", "I Believe in a thing called Love - Cardio Push" %>
  </div>

<br>
<br>

 <button style ="background-color: #EC549E">
    <%= f.button :submit, "Submit" %>
  </button>
<% end %>

<br>
</div>