<center>
  <hr>
<div style = "padding:20px;max-width: 300px">

<p id="notice"><%= notice %></p>

<h3 style = "color: #EC549E">Votes</h3>
<hr>

<br>

 <h4>Total Votes Cast: &nbsp; <%= @votecount %></h4>
<br>


Total - Lip Gloss - Toner: <%= @vote1 %> 
    <br>
Total - Ocean Avenue -  Cardio: <%= @vote2 %>
    <br>
Total - Wherever you go - Barre: <%= @vote3 %> 
    <br>
Total - I believe in a thing called Love - Push: <%= @vote4 %> 
    <br> 
    <hr>


<%=pie_chart Vote.group(:a1).count, colors: ["yellow","#EC549E","#48484A"], width: "200px", legend: "bottom", donut: "true" %>

<br>
<br><br>
<br><br>






 <table>
  <thead>
    <tr>
      <th style = "background-color: #EC549E">VOTES</th>

     
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
    <td><%= vote.a1 %></td>
    <td><%= vote.a2 %></td> 
    <td><%= vote.a3 %></td>
         <td><%= vote.a4 %></td> 
         <td><%= vote.a5 %></td> 

      </tr>
    <% end %>
  </tbody>
</table> 

<br>

<%#= link_to 'New Vote', new_vote_path %>
</div>
</center>