<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @vote.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @vote.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @vote.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @vote.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @vote.a5 %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
