<!DOCTYPE html>
<html>
  <head>
   


    <!-- favicon -->

    <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/mont-general/Emerald/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/mont-general/Emerald/favicon.ico" type="image/x-icon">

    <!-- favicon end -->



    <%# google fonts %>

   <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

   
      <!-- google analytics code start-->

      <%= render 'shared/google_analytics' %>

    <!-- google analytics code end-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">




      <title>Dentist Direct Reward</title>
        <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>

    <%= render 'shared/alerts' %>

  </body>

  <%= render "shared/footer" %>
  
</html>
